<div class="row mt-4">
  <div class="col-md-12">
    <h2>Cart</h2>
    <p ng-show="cartItems.length === 0">Your cart is empty.</p>
    <button
      type="button"
      class="btn btn-danger btn-block mt-2"
      ng-click="backToProducts()"
      ng-show="cartItems.length === 0"
    >
      Cancelar
    </button>
    <table class="table" ng-show="cartItems.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cartItems">
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.product.price }}</td>
          <td>{{ item.product.price * item.quantity }}</td>
          <td>
            <button
              class="btn btn-sm btn-danger"
              ng-click="removeFromCart(item)"
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      class="btn btn-danger btn-block my-2 "
      ng-click="backToProducts()"
      ng-show="cartItems.length > 0"
    >
      Cancelar
    </button>
  </div>
</div>
